<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= form_for(@book) do |f| %>
 
    <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <% @book.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
 
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>

<% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>



<h1>My Books</h1>
   <% @books.each do |book| %>
      <p>タイトル</p>
      
      <span><%= link_to book.title,book_path(book.id) %></span>
      <p>ボデイ</p>
      <span><%= book.body %></span>

   <% end %>