<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header  class="header! clearfix" >
      <h5 class="headline">
        Bookers2
      </h1>
      <div  class = "menu" id="slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if user_signed_in? %>
               <%= link_to sanitize('<i class="glyphicon glyphicon-home" ></i> ') + 'Home', user_path(current_user.id) ,class: "btn btn-dark" %>
               <%= link_to sanitize('<i class="glyphicon glyphicon-user"></i> ') + 'Users', users_path ,class: "btn btn-primary" %>
               <%= link_to sanitize('<i class="glyphicon glyphicon-book"></i> ') + 'Books', books_path ,class: "btn btn-primary" %>
               <%= link_to sanitize('<i class="glyphicon glyphicon-log-out"></i> ') + 'logout', destroy_user_session_path, method: :delete,class: "btn btn-primary" %>


             
              <% else %>
              <%= link_to sanitize('<i class="glyphicon glyphicon-home" ></i> ') + 'Home', root_path ,class: "btn btn-dark" %>
              <%= link_to sanitize('<i class="glyphicon glyphicon-link" ></i> ') + 'About', home_about_path ,class: "btn btn-dark" %> 
              <%= link_to sanitize('<i class="glyphicon glyphicon-edit" ></i> ') + 'sign up', new_user_registration_path ,class: "btn btn-dark" %> 
              <%= link_to sanitize('<i class="glyphicon glyphicon-log-in" ></i> ') + 'login', new_user_session_path ,class: "btn btn-dark" %> 
               
               
              <% end %>
            </ul>
          </div>

    </header>

<!-- ここから追加 -->
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
<!-- ここまで追加 -->


    <%= yield %>


    <footer>
    <p >CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
